<ul class="list-chat"></ul>

<form action="">
    <input type="text" class="form-control" placeholder="Enter the message">
    <button type="submit" class="btn btn-primary"><span>Enviar</span></button>
</form>